.movehover {
	margin: 1em;
	width: 250px;
	height: 250px;
	overflow:hidden;
	cursor: move;
	display: inline-block;
}
.movehover-rect {
	margin: 1em;
	width: 350px;
	height: 200px;
	overflow:hidden;
	cursor: move;
	display: inline-block;
}